@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Mono', monospace;
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

#parallax-logo, #bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#bg-image {
  max-height: 120vh;
}

#logo {
  max-width: 250px;
}

.menu-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding:50px;
  flex-direction: column;
} a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
} a:active {
  text-decoration: none;
} .opposite-side {
  align-self: flex-end;
}
